![openclassrooms](https://s3.eu-west-1.amazonaws.com/course.oc-static.com/courses/6204541/1+HnqdJ-5ofxiPP9HIxdNdpw.jpeg)
# Customize Your Charts Using Matplotlib
Monthly profits by loan type for the year 2021 have just been released at the branch where you work. As part of the monthly reporting cycle, you’ve been asked to create a special chart to show profits changing over time by loan type. We have the following data available:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
revenue = pd.read_csv('https://raw.githubusercontent.com/OpenClassrooms-Student-Center/en-8253136-Use-Python-Libraries-for-Data-Science/main/data/CA.csv')
revenue['date'] = pd.to_datetime(revenue['date'])
revenue.head()

        date  real estate  vehicle  consumer
0 2021-01-01        10439     5096      3808
1 2021-02-01        11266     5146      5838
2 2021-03-01        11315     5276      5601
3 2021-04-01        11456     5067      3639
4 2021-05-01        10816     4937      5273

Your objective is to create the following chart: 

![image-3.png](https://github.com/OpenClassrooms-Student-Center/en-8253136-Use-Python-Libraries-for-Data-Science/blob/main/notebooks/P3/img.png?raw=true)

Here’s a quick explanation of the various elements:
- The chart window size is 10x7.
- A line has been plotted for each type of loan with a line width of 3.
- A legend has been added.
- A title has been added to the y-axis.
- The font size for the ticks has been set to 11.
- The font size for the title has been set to 14.
- The gridlines are showing in gray with a width of 0.5.

Now you can compare your result with the solution.