![openclassrooms](https://s3.eu-west-1.amazonaws.com/course.oc-static.com/courses/6204541/1+HnqdJ-5ofxiPP9HIxdNdpw.jpeg)
# Create Complex Charts Using Seaborn
The monthly report is usually created using Matplotlib. Your task is to make the report more visually appealing using Seaborn.

Your objective is to re-do the work you did previously, but this time using Seaborn. As well as creating the charts, your manager has snuck in some additional requirements.

The charts you need to produce are as follows:
- Proportion of each type of loan
- Monthly profit based on customer income
- Profit distribution
- Total monthly profit per branch

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

To create these different charts, we’re going to use the enhanced loan data file ([see previous exercise](https://colab.research.google.com/github/OpenClassrooms-Student-Center/en-8253136-Use-Python-Libraries-for-Data-Science/blob/main/notebooks/P2/P2C3%20-%20Filter%20Data%20in%20a%20DataFrame%20-%20CORRECTION.ipynb)) that you can find [here](https://raw.githubusercontent.com/OpenClassrooms-Student-Center/en-8253136-Use-Python-Libraries-for-Data-Science/main/data/loans_final.csv):

In [10]:
loans = pd.read_csv('https://raw.githubusercontent.com/OpenClassrooms-Student-Center/en-8253136-Use-Python-Libraries-for-Data-Science/main/data/loans_final.csv')

loans.head()

,identifier,city,zip code,income,repayment,term,type,interest_rate,debt_to_income,total_cost,profit,risk
0,0,CHICAGO,60100,3669.0,1130.05,240,real estate,1.168,30.80,271212.0,131.99,No
1,1,DETROIT,48009,5310.0,240.00,64,automobile,3.701,4.52,15360.0,23.69,No
2,1,DETROIT,48009,5310.0,1247.85,300,real estate,1.173,23.50,374355.0,182.97,No
3,2,SAN FRANCISCO,94010,1873.0,552.54,240,real estate,0.972,29.50,132609.6,53.71,No
4,3,SAN FRANCISCO,94010,1684.0,586.03,180,real estate,1.014,34.80,105485.4,44.57,No

## 1. Proportion of each type of loan
To create this chart, you can obviously reuse aggregate functions, but the best method is to let Seaborn do all the work, using the [countplot](https://seaborn.pydata.org/generated/seaborn.countplot.html) function

## 2. Monthly profit based on customer income for real estate loans
When you create this chart, add different colors for the different branches arranging the loans

## 3. Profit distribution
We want to create a standard histogram and a density chart. You’ll need the following functions:
- [histplot](https://seaborn.pydata.org/generated/seaborn.histplot.html) for the histogram
- [kdeplot](https://seaborn.pydata.org/generated/seaborn.kdeplot.html) for the density chart

## 4. Total monthly profit per branch
For this chart, we're going to want two bars for each city: one for each type of loan.

Great stuff! Why don’t you compare your answers with my [solution](https://colab.research.google.com/github/OpenClassrooms-Student-Center/en-8253136-Use-Python-Libraries-for-Data-Science/blob/main/notebooks/P3/P3C4%20-%20Create%20Complex%20Charts%20Using%20Seaborn%20-%20CORRECTION.ipynb)?